# ---------- Postgres ----------
POSTGRES_DB=XXXXXXXX
POSTGRES_USER=XXXXXXXX
POSTGRES_PASSWORD=XXXXXXXX
POSTGRES_PORT=XXXXXXXX

# ---------- pgAdmin ----------
PGADMIN_EMAIL=XXXXXXXX
PGADMIN_PASSWORD=XXXXXXXX

# ---------- Mage ----------
MAGE_PROJECT_NAME=XXXXXXXX
MAGE_PORT=XXXXXXXX

BRONZE_SCHEMA=bronze

NYC_TLC_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
NYC_TLC_ZONE_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

INGEST_START_MONTH=2025-01
INGEST_END_MONTH=2025-03

DBT_TIMEOUT_SECONDS=300